#info_image {
        perspective: 1000px;
        perspective-origin: 50% 100%;
    }
    #info_content {
        position: absolute;
        top: 105px;
        right: 0px;
        width: 75%;
        max-width: 375px;
        height: auto;
        overflow: hidden;
    }
    #info_content > div {
        position: absolute;
        top: -100%;
    }
    #info_content > div.info_visible {
        top: 0%;
    }
    #info_content .content_item {
        margin: auto;
        padding: 15px;
        margin-top: 30px;
        margin-bottom: 30px;
        border: 2px solid #888888;
        background-color: #FFFFFF;
    }
    #info_content .content_item h1 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    #info_content .content_item p {
        margin-top: 14px;
        margin
